/* 

    Footer css which includes css for footer part
    
    Author : Anirudhsinh Jadeja
    Copyrighted content. 
    Copying or using the content for any personal or professional use is prohibited.

    You may read the code to research.

*/


/* ======================== FOOTER.CSS ======================== */

footer {
    max-width: 100%;
    margin: 0 auto;
    max-height: 0%;

    display: grid;
    column-gap: 10px;

    color: var(--primary-grey);
    font-family: primaryFont;
    font-size: 1.3em;
}




