/* 

    Responsive footer css which includes css for footer part to be responsive
    
    Author : Anirudhsinh Jadeja
    Copyrighted content. 
    Copying or using the content for any personal or professional use is prohibited.

    You may read the code to research.

*/


/* ======================== FOOTER-FOOTER.CSS ======================== */

/* Screen larger than 500px? 1 column */
@media (min-width: 500px) {
    footer {
        grid-template-columns: repeat(1, 1fr);
    }

    #copyrightLine {
        text-align: start;
    }
}


/* Screen larger than 900px? 2 columns */
@media (min-width: 900px) {
    footer {
        grid-template-columns: repeat(2, 1fr);
    }

    #copyrightLine {
        text-align: end;
    }
}